<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <!--事務管理器-->
            <transactionManager type="JDBC"/>
            <!-- 配置連接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="***************/mybatis_test"/>
                <property name="username" value="XXXXX"/>
                <property name="password" value="XXXXX"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 引用我們自己編寫的每一個接口的實現文件 -->
    <mappers>
        <!-- resource:從類路徑下找資源 -->
        <mapper resource="resource/conf/mybatis-EmployeeDao.xml"/>
    </mappers>

</configuration>